---
import { getCollection } from 'astro:content';
import SiteLayout from "@/layouts/SiteLayout.astro"
import WorldList from "@/components/WorldList.astro"
import CcBy from "@/components/CcBy"

const heroes = (await getCollection("world", ({data}) => data.path.startsWith("heroes")));
const villains = (await getCollection("world", ({data}) => data.path.startsWith("villains")));
const organizations = (await getCollection("world", ({data}) => data.path.startsWith("organizations")));
const settings = (await getCollection("world", ({data}) => data.path.startsWith("settings")));
---
<SiteLayout frontmatter={{"title": "The Breathtaking World"}}>
  <h1>Heroes</h1>
  <WorldList elements={heroes} />

  <h1>Villains</h1>
  <WorldList elements={villains} />

  <h1>Organizations</h1>
  <WorldList elements={organizations} />

  <h1>Settings</h1>
  <WorldList elements={settings} />

  <CcBy />
</SiteLayout>