---
import { type TocItem } from "rehype-mdx-toc"
import SiteLayout from "@/layouts/SiteLayout.astro"
import TocWrapper from "@/components/TocWrapper"
import { groupBy, prop } from "ramda"
import traitData from "@/traits"
const groupedTraits = groupBy(prop("type"), traitData)
const types = [""]

function buildTocFromTraits(): TocItem[] {
  const elements: TocItem[] = [];

  ["Position", "Past", "Personality", "Powers", "Problems"].forEach(
    (traitType) => {
      const slug = `${traitType.toLowerCase()}-traits`
      elements.push({
        depth: 1,
        value: traitType,
        numbering: [],
        id: slug,
        href: `#${slug}`,
      });

      groupedTraits[traitType.toLowerCase()]!.forEach((element) => {
        const slug = `${element.id}-trait`
        elements.push({
          depth: 2,
          value: element.name,
          numbering: [],
          id: slug,
          href: `#${slug}`,
        });
      });
    }
  );

  return elements;
}
---
<SiteLayout frontmatter={{"title": "Sample Traits", description: "A list of sample traits for Breathtaking Comics hero characters"}}>
  <p>
    All of the traits here are examples. You can create your own original
    traits, or adapt the ones you find here.
  </p>

  <TocWrapper toc={buildTocFromTraits()}>
    {["Position", "Past", "Personality", "Powers", "Problems"].map(
      (traitType) => (
        <>
          <h1 id={`${traitType.toLowerCase()}-traits`}>{traitType} Traits</h1>
          {groupedTraits[traitType.toLowerCase()]!.map((trait) => (
            <>
              <h2 id={`${trait.id}-trait`}>{trait.name}</h2>
              <p>&quot;{trait.catchphrase}&quot;</p>
              <p>Examples:</p>
              <ul>
                {trait.examples.map((example) => (
                  <li>{example.replaceAll("**", "")}</li>
                ))}
              </ul>
              <p>{trait.description}</p>
              <p>Sample Hooks:</p>
              <ul>
                {trait.hooks.map((hook) => (
                  <li>{hook}</li>
                ))}
              </ul>
              <p>Sample Drives:</p>
              <ul>
                {trait.drives.map((drive) => (
                  <li>{drive}</li>
                ))}
              </ul>
            </>
          ))}
        </>
      )
    )}
  </TocWrapper>
</SiteLayout>