---
import { getCollection, getEntry } from 'astro:content';

import SiteLayout from "@/layouts/SiteLayout.astro";
import WorldList from "@/components/WorldList.astro";

export async function getStaticPaths() {
  const entries = await getCollection("tags");
  return entries.map(entry => ({
    params: {
      tag: entry.id
    }
  }))
}

const { tag } = Astro.params;
const entry = await getEntry("tags", tag || '')

if (!entry) {
  throw new Error(`Could not find item '${tag}' in tags collection`)
}

const worldEntries = (await getCollection("world", ({data}) => data.tags.map(tag => tag.id).includes(entry.id)))
  .sort((a, b) => {
    const na = a.data.name.toLowerCase().replace(/^the +/, '');
    const nb = b.data.name.toLowerCase().replace(/^the +/, '');
    if (na < nb) {
      return -1;
    }
    if (na > nb) {
      return 1;
    }
    return 0;
  })

---
<SiteLayout frontmatter={{...entry.data, "title": entry.data.name, "description": `Pages tagged as '${entry.id}''`}}>
  <h1>{entry.data.name}</h1>
  <WorldList elements={worldEntries} />
</SiteLayout>