---
import { getCollection, getEntry, render } from 'astro:content';
import SiteLayout from "@/layouts/SiteLayout.astro"
import CharacterBlock, { shouldShowCharacterBlock } from "@/components/CharacterBlock"
import Art from '@/components/Art.astro';

export async function getStaticPaths() {
  const entries = await getCollection("world");
  return entries.map(entry => ({
    params: {
      id: entry.id
    }
  }))
}

const { id } = Astro.params;
const entry = await getEntry("world", id || '')

if (!entry) {
  throw new Error(`Could not find item '${id}' in world collection`)
}

let artEntries = []
if (entry.data.art) {
  artEntries = await getCollection("art", (art) => entry.data.art!.includes(art.id))
} else {
  const prefix = `${id}/`
  artEntries = await getCollection("art", (art) => art.id.startsWith(prefix))
}

const { Content } = await render(entry);
---
<SiteLayout frontmatter={{...entry.data, "title": entry.data.name, "description": entry.data.description, "art_id": entry.id}}>
  <div class="grid">
    <div>
      <Art id={entry.id} />
      <Content />
    </div>
    {
      (shouldShowCharacterBlock({frontmatter: entry.data})) &&
      <div>
        <CharacterBlock frontmatter={entry.data} />
      </div>
    }
  </div>
  {artEntries.length > 0 &&
    <div class="grid">
      {artEntries.map(artEntry => <Art id={artEntry.id} />)}
    </div>
  }
</SiteLayout>