---
import { getCollection, getEntry, render } from 'astro:content';

import SiteLayout from "@/layouts/SiteLayout.astro"
import Art from '@/components/Art.astro';
import ArtSidebar from '@/components/ArtSidebar.astro';
import Tags from '@/components/Tags.astro';

import { getEntries } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection("world");
  return entries.map(entry => ({
    params: {
      id: entry.id
    }
  }))
}

const { id } = Astro.params;
const entry = await getEntry("world", id || '')

if (!entry) {
  throw new Error(`Could not find item '${id}' in world collection`)
}

const tags: any[] = await getEntries(entry.data.tags);

let artEntries = []
if (entry.data.art !== undefined) {
  artEntries = await getEntries(entry.data.art);
} else {
  // Dynamically look for art based on ID
  const prefix = `${id}/`
  artEntries = await getCollection("art", (art) => art.id.startsWith(prefix))
}

const { Content } = await render(entry);
---
<SiteLayout frontmatter={{...entry.data, "title": entry.data.name, "description": entry.data.description, "art_id": entry.id}}>
  <ArtSidebar>
    <Art id={entry.id} />
  </ArtSidebar>

  <Tags tags={tags} />

  <Content />

  {artEntries.length > 0 &&
    <div class="grid">
      {artEntries.map(artEntry => <Art id={artEntry.id} />)}
    </div>
  }
</SiteLayout>